.oracleorient-your-gateway {
  margin: 0;
  width: 966px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.icon,
.search {
  position: relative;
}
.search {
  width: 867px;
  line-height: 22px;
  display: inline-block;
  max-width: calc(100% - 24px);
}
.icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.form-field,
.search-container {
  align-items: center;
  max-width: 100%;
}
.form-field {
  align-self: stretch;
  border-radius: 20px;
  background-color: #f0f1ea;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 23px;
  gap: 0;
  row-gap: 20px;
}
.search-container {
  width: 939px;
  justify-content: center;
  text-align: left;
  font-size: 16px;
  color: #273524;
  font-family: "Open Sans";
}
.hero-banner,
.homepage,
.search-container {
  display: flex;
  flex-direction: column;
}
.hero-banner {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 36px;
  background-image: url(/public/hero-banner@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #f0f1ea;
  font-family: Almarai;
}
.homepage {
  width: 100%;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .oracleorient-your-gateway {
    font-size: 38px;
    line-height: 42px;
  }
  .hero-banner {
    gap: 18px;
  }
}
@media screen and (max-width: 450px) {
  .oracleorient-your-gateway {
    font-size: 29px;
    line-height: 32px;
  }
}
