.clothes-gift-cards {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.elevate-their-style {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  color: #fff;
}
.clothes-gift-cards-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.learn-more {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Almarai;
  color: #273524;
  text-align: left;
  display: inline-block;
  min-width: 103px;
}
.arrow-right-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.learn-more-parent {
  cursor: pointer;
  border: 0;
  padding: 12px 24px;
  background-color: #eee;
  align-self: stretch;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  gap: 20px;
}
.learn-more-parent:hover {
  background-color: #d4d4d4;
}
.arrow-circle-right-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 0 !important;
  top: 24px;
  left: 186px;
}
.category-items {
  height: 763px;
  width: 260px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 24px;
  box-sizing: border-box;
  position: relative;
  gap: 28px;
  background-image: url(/public/category-items2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 32px;
  color: #f0f1ea;
  font-family: Almarai;
}
@media screen and (max-width: 900px) {
  .clothes-gift-cards {
    font-size: 26px;
    line-height: 31px;
  }
}
@media screen and (max-width: 450px) {
  .clothes-gift-cards {
    font-size: 19px;
    line-height: 23px;
  }
  .category-items {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
