.logo-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
  object-fit: cover;
}
.cryptonovax1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.logo1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.explore-a-seamless {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #fff;
}
.footer-top {
  width: 299px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: 16px;
  min-width: 299px;
}
.products {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.gaming-cards,
.travel-cards {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.travel-cards {
  min-width: 98.7px;
}
.gaming-cards {
  width: 117.8px;
}
.festival-cards {
  width: 156.2px;
}
.clothes-cards,
.festival-cards,
.food-cards {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.food-cards {
  width: 97.3px;
}
.clothes-cards {
  min-width: 108px;
}
.product-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-width: 164px;
}
.get-to-know {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.about-us,
.agent-contact,
.contact-us3,
.services {
  width: 98.7px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.agent-contact,
.contact-us3,
.services {
  width: 117.8px;
}
.agent-contact,
.services {
  width: 156.2px;
}
.services {
  width: 97.3px;
}
.footer-links-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-width: 164px;
}
.legal-pages {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.conditions,
.terms {
  width: 98.7px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.conditions {
  width: 117.8px;
}
.refund-policy {
  width: 156.2px;
  display: inline-block;
}
.cancellation-policy,
.refund-policy {
  position: relative;
  line-height: 22px;
}
.footer-links-container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-width: 164px;
}
.footer-content,
.footer-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footer-navigation {
  width: 849.7px;
  justify-content: flex-start;
  gap: 96px;
  min-width: 849.7px;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.footer-content {
  width: 1680px;
  justify-content: space-between;
  gap: 20px;
}
.shopsphere-all-rights {
  position: relative;
  line-height: 22px;
}
.legal-menu {
  height: 22px;
  width: 348px;
  max-width: 100%;
}
.footer-menu {
  width: 1680px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.footer-desktop {
  align-self: stretch;
  background-color: #273524;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 160px 20px;
  box-sizing: border-box;
  gap: 48px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #f0f1ea;
  font-family: Poppins;
}
@media screen and (max-width: 1350px) {
  .footer-top {
    flex: 1;
  }
  .footer-navigation {
    flex: 1;
    min-width: 100%;
  }
  .footer-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .cryptonovax1 {
    font-size: 26px;
    line-height: 31px;
  }
  .footer-navigation {
    flex-wrap: wrap;
    gap: 48px;
  }
  .footer-menu {
    flex-wrap: wrap;
  }
  .footer-desktop {
    gap: 24px;
    padding-top: 104px;
    padding-bottom: 104px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .cryptonovax1 {
    font-size: 19px;
    line-height: 23px;
  }
  .get-to-know,
  .legal-pages,
  .products {
    font-size: 19px;
    line-height: 22px;
  }
  .footer-navigation {
    gap: 24px;
  }
}
