.span {
  color: #fff;
}
.happy-customers {
  margin: 0;
}
.are-our-true {
  margin: 0;
  color: #909b92;
}
.happy-customers-are-container {
  margin: 0;
  width: 1680px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.testimonial-slides {
  width: 1680px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0;
  font-size: 18px;
}
.happy-customers-are-our-true-w-parent,
.testimonial-slides,
.testimonial-slides1 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
}
.testimonial-slides1 {
  width: 1680px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0;
}
.happy-customers-are-our-true-w-parent {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 80px 20px;
  text-align: left;
  font-size: 48px;
  color: #273524;
  font-family: Almarai;
}
@media screen and (max-width: 900px) {
  .happy-customers-are-container {
    font-size: 38px;
    line-height: 42px;
  }
  .happy-customers-are-our-true-w-parent {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .happy-customers-are-container {
    font-size: 29px;
    line-height: 32px;
  }
  .happy-customers-are-our-true-w-parent {
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
