.different {
  color: #273524;
}
.we-are-different-container {
  margin: 0;
  width: 468px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.get-started {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Almarai;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 81px;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: 12px 48px;
  background-color: #273524;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button8:hover {
  background-color: #596957;
}
.frame-item {
  align-self: stretch;
  height: 571px;
  position: relative;
  border-radius: 20px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.we-are-different-in-every-way-parent {
  width: 686px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  min-width: 686px;
  max-width: 100%;
}
.frame-section,
.value-propositions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
}
.value-propositions {
  width: 828px;
  flex-wrap: wrap;
  min-width: 828px;
  min-height: 404px;
  font-size: 24px;
  color: #273524;
}
.frame-section {
  align-self: stretch;
  background-color: #f0f1ea;
  padding: 80px 120px;
  box-sizing: border-box;
  gap: 20px;
  text-align: left;
  font-size: 48px;
  color: #909b92;
  font-family: Almarai;
}
@media screen and (max-width: 1800px) {
  .we-are-different-in-every-way-parent {
    flex: 1;
  }
  .value-propositions {
    flex: 1;
    min-height: auto;
  }
  .frame-section {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .value-propositions,
  .we-are-different-in-every-way-parent {
    min-width: 100%;
  }
  .frame-section {
    padding: 52px 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .we-are-different-container {
    font-size: 38px;
    line-height: 42px;
  }
  .frame-section {
    padding: 34px 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .we-are-different-container {
    font-size: 29px;
    line-height: 32px;
  }
}
